html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Layout global */
.app-layout {
    display: grid;
    grid-template-rows: 80px 1fr;       /* ruban / contenu */
    grid-template-columns: 120px 1fr;  /* navbar / main */
    height: 100vh;
}

/* --------------- Ruban ---------------*/
.title-ribbon {
    grid-column: 1 / -1; /* prend toute la largeur */
    background-color: #222;
    color: #00c2ff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;
    font-weight: bold;
}

/*--------------- Navbar ---------------*/
.navbar {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

/* Icônes */
.navbar a {
    color: #bbb;
    font-size: clamp(28px, 5vw, 42px);
    text-decoration: none
}

.navbar a.active,
.navbar a:hover {
    color: #00c2ff;
}

/* Main */
main {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

/* Contenu centré */
.content-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 2%;
}

/* Conteneur du tableau */
.table-container {
    width: 100%;
    max-width: 900px;   /* largeur max du tableau */
}

/* Tableau principal */
.sensor-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;

    font-size: 20px;    /* taille globale du texte */
}

/* En-têtes */
.sensor-table thead {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.sensor-table th,
.sensor-table td {
    padding: 20px 28px;
    text-align: left;
}

/* Séparateur de lignes */
.sensor-table tbody tr {
    border: 1px solid #333;
}

/* Colonne "Valeur" mise en avant */
.sensor-table td:nth-child(2) {
    font-size: 26px;
    font-weight: bold;
}

/* Colonne "Temps" plus discrète */
.sensor-table td:nth-child(3) {
    font-size: 15px;
    color: #666;
}

/* Daily graph */
.graph-container {
    width: 100%;
    max-width: 1000px;
    height: 500px;
}

/*--------------- Controle ---------------*/
.control-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

.control-group {
    background: #bbb;
    border-radius: 12px;
    border: 3px solid #333;
    padding: 1.5vh;
    text-align: center;
}

.control-group h2 {
    margin: 0px 0px 10px 0px;
    font-size: 2rem;
}

/* Boutons */
.btn-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-row {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.btn-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-on:hover {
    background: #2ecc71;
}

.btn-off:hover {
    background: #a4161a;
}

.btn {
    padding: 12px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    background-color: #ddd;
    cursor: pointer;
    border : solid black
}

.btn-std:hover {
    background: #00c2ff;
}

.btn-std.active {
    background-color: #00c2ff;
    color: #ffffff;
    border : solid black 5px;    
}


.btn-on.active {
    background-color: #2ecc71;
    color: white;
    border : solid black 5px;
}

.btn-off.active {
    background-color: #a4161a;
    color: white;
    border : solid black 5px;
}

.btn-on {
    background-color: #27ae60;
    color: white;
}

.btn-off {
    background-color: #e74c3c;
    color: white;
}

.btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.slider-group {
    margin-top: 8%;
    width: 100%;
}


.slider-group input[type="range"] {
    width: 100%;
    height: 1rem;        /* épaisseur de la barre */
    border-radius: 10px;
    background: #ccc;
    outline: none;
    cursor: pointer;
    color:#00c2ff
}

.slider-label{
    font-size: 2rem;
}

.control-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "mode   mode"
        "porte  pompe"
        "fan    valves";
    gap: 2%;
    width: 100%;
    max-width: 900px;
}

.mode   { grid-area: mode; }
.porte  { grid-area: porte; }
.pompe  { grid-area: pompe; }
.fan    { grid-area: fan; }
.valves { grid-area: valves; }

@media (max-width: 700px) {
    .control-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "mode"
            "porte"
            "pompe"
            "fan"
            "valves";
    }
}




